* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(190, 188, 188, 0.575);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.img-container {
    background-image: url(./imgOlga.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px;
}


header {
    padding-top: 10px;

}

.container {
    max-width: 1440px;
    margin: 0 auto;


}



.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    font-variant: small-caps;
    transition: .3s;
}

.nav-item a {
    color: #a4a3a3;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-item a:hover {
    color: #890505;

}

.container-nav {

    background-color: #2c2b2b;


}


.contacts-list {

    list-style: none;
  }

.contacts-link {
    text-decoration: none;
    color: #000;
    transition: .3s;
}

.contacts-item a {

    text-decoration: none;
    transition: color 0.5s;
}
.contacts-item a:hover {
    color: #b50505;
}





footer {
    padding: 10px;
    font-size: 80%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
  }

  .social {
    width: 90px;
    display: inline-block;

    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
  }

.project-link {
    text-decoration: none;
    color: #000;
}


  .footer-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

.footer-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    transition: .3s;
}

.footer-item a {

    text-decoration: none;
    transition: color 0.5s;
}
.footer-item a:hover {
    color: #b50505;
}

.main-container {

    display: flex;
  flex-wrap: wrap;
}

.information {
    max-width: 50%;
    margin-left: 50%;
  }

  @media (max-width: 768px) {
    .section   {
      width: 100%;
      background-color: #a4a3a362;
    }
    .img-container {
        width: 100%;
    }
  }

.container {
    max-width: 700px;
}

.section-background {
    background-color: #a4a3a3af;


}
